body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.mainline1 {
    padding: 20px;
    text-align: center;
}
.header {
    color: #4f23b8;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #4f23b8;
    margin: 0;
}

.card{
    background-color: #fce4ec;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    transition: transform 0.2s;
}
.card h3 {
    margin: 10px 0;
    color: #000000;
}
.card img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}
.card p{
    font-size: 14px;
    color: #6f6f6f;
    margin: 10px 0;
    line-height: 1.5;
}
.card button {
    background-color: #5e2db4;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

